/*
1. Posicionamiento
*/
/*
2. Modelo de caja (Box model)
*/

/*
3. Tipografia
*/

/*
4. Visuales
*/

/*
5. Visuales
*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans',sans-serif;
}
main{
    width: 100%;
    height: auto;
    min-width: 320px;
    background-color: var(--off-white);
}
:root{
    /*COLORES*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
/*
Header
*/
header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 32rem; /*la dimension mas pequena en celulares*/
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
                                /*2017.8deg representa los grados de como se va a dividir
                                del primer color al segundo color.
                                y el porcentaje que va a tener cada color
                                */
}

picture img{
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 5rem;
    align-self: center;
    text-align: center;
}
.header--title-container h1{
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p{
    margin-top: 2.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 115px);
    top: 27rem;
    display: block;
    margin-top: 3.5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);

}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 1rem;
    background-image:url('../assets/icons/down-arrow-Vector.svg');
    background-position: center;
}

/*
Section  exchange
*/
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    text-align: center;
}
.main-exchange-container--title{
    width: 90%;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .background-img{
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-image: url('../assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center; /*para siempre tener 
    visibilidad del centro de la imagen*/
    background-repeat: no-repeat;
}
.main-exchange-container h2{
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem; /*espacio entre lineas*/
    color: var(--black);
}
.main-exchange-container p{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
    
}
/*
main tables
*/
.main-tables-container{
    display: flex;
    overflow-x: scroll; /*para dar el scroll*/
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    min-width: 235px;
    max-width: 60rem;
    min-height: 36rem;
    margin: 0 auto;
}

.main-tables-container::-webkit-scrollbar{
    height: 0.4rem;
    scroll-snap-align: center;
}
.main-tables-container::-webkit-scrollbar-track{
    display: none;
}
.main-tables-container::-webkit-scrollbar-track:active{
    background-color:rgba(254, 162, 93, 0.4);
    display: inline-block;
} 
.main-tables-container::-webkit-scrollbar-thumb{
    background-color: var(--bitcoin-orange);
    border-radius: 4px;
    width: 2rem;
}


.main-currency-table,
.commission-currency-table{
    scroll-snap-align: center;
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    height: 36rem;
    margin: 0 2.5rem;
    font-family: "Inter", sans-serif;

}
.main-currency-table{
    margin-right: 0;
}
.main-currency-table .currency-table-title,
.commission-currency-table .commission-table-title{
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);

}
.commission-currency-table .commission-table-title{
    color: var(--secondary-blue)

}
.currency-table--container,
.Commission-table--container{
    width: 90%;
    min-width: 23rem;
    max-width: 30rem;
    height: 25rem;
    margin: 0 auto
}
.currency-table--container table,
.Commission-table--container table{
    width: 100%;
    height: 100%;
}
.currency-table--container td,
.Commission-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table--container .table__topleft,
.Commission-table--container .table__topleft{
    border-radius: 14px 0 0 0;
}
.currency-table--container .table__bottom-left,
.Commission-table--container .table__bottom-left{
    border-radius: 0 0 0 14px;
}
.currency-table--container .table__topright,
.Commission-table--container .table__topright{
    border-radius: 0 14px 0 0;
}
.currency-table--container .table__bottom-right,
.Commission-table--container .table__bottom-right
{
    border-radius: 0 0 14px 0;
}
.currency-table--container .table__right,
.Commission-table--container .table__right{
    color: #757575;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
}
.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
.currency-table--date,
.commission-table--date{
    width: 19rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;

}
.currency-table--date p,
.commission-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black)
}
.commission-table--date {
    background-color: var(--soft-blue);
}
/*
Seccion main-product-detail
*/

.main-product-detail{
    position: relative;
    background-color: var(--black);
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 2rem 1rem;
}
.main-product-detail .batata-logo{
    background-image: url("../assets/icons/batata.svg");
    width: 4rem;
    height: 2.4rem;
    position: absolute;
    left: calc(50% - 20px);
    top:-13px
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
}
.product-detail--title h2{
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--just-white);
    line-height: 2.6rem;

}
.product-detail--title p{
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: bold;
    font-weight: 500;
    color: #808080;
    line-height: 1.8rem;

}

.product-detail-card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 15rem;
    margin: 1.5rem auto;
    background-color: var(--warm-black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 1.5rem;
}
.product-detail-card .product-card-img{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail-card .product--card-title{
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: bold;
    color: var(--just-white);
}
.product-detail-card .product--card-body{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
    font-weight: 500;

}
.product-detail-card .clock{
    background-image: url('../assets/icons/clock.svg');
}
.product-detail-card .eye{
    background-image: url('../assets/icons/eye.svg');
}
.product-detail-card .dollar{
    background-image: url('../assets/icons/dollar-sign.svg');
}
.product-detail-card .check{
    background-image: url('../assets/icons/check-circle.svg');
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('../assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin-img-container h2{
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: bold;
    text-align: center;
    padding-top: 3rem;
}
/*
main plan
*/
.main-plans-container{
    width: 100%;
    min-height: 54.7rem;
    text-align: -webkit-center;
    padding-bottom: 7rem;
}
.main-plan__title{
    margin-bottom: 5rem;
    text-align: center;
}
.main-plan__title h2{
    color: var(--black);
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    margin-bottom: 3rem;
    padding:0 1rem ;
    padding-top: 10rem;

}
.main-plan__title p{
    font-family: 'DM Sans',sans-serif;
    color: #757575;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    padding: 0 2rem;
}
.plans-container--slider{
    width: 75%;
    display: flex;
    overflow-x: scroll; /*para dar el scroll*/
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    justify-content: center
}

.plans-container--slider::-webkit-scrollbar{
    height: 0.8rem;
    scroll-snap-align: center;
}
.plans-container--slider::-webkit-scrollbar-track{
    display: none;
}
.plans-container--slider::-webkit-scrollbar-track:active{
    background-color:rgba(254, 162, 93, 0.4);
    display: inline-block;
} 
.plans-container--slider::-webkit-scrollbar-thumb{
    background-color: var(--bitcoin-orange);
    border-radius: 4px;
}


.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 25rem;
    margin: 5rem 0.7rem 1rem;
    padding: 0 1.5rem;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30, 0.16);
    text-align: center;
}
.plans-container--card .recommended{
    padding: 1rem;
    min-width: 15rem;
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
    position: absolute;
    border-radius: 8px;
    left: calc(50% - 73px );
    bottom: 23.3rem;
    
}
.plans-container--card .plan-info-container{
    padding-top: 4rem;

}
.plan-info-container .plan-card--tile{
    color: black;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.plan-info-container .plan-card--price{
    font-size: 6rem;
    line-height: 6.3rem;
    font-family: "inter", sans-serif;
    font-weight: bold;
    color: black;
    letter-spacing: -0.2rem;
}
.plan-card--price span{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #363636;
    vertical-align: text-top;
    margin-right: 0.5rem;

}
.plan-info-container .plan-card--saving{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color:#757575;
    margin-bottom: 2rem;
}
.plan-info-container .plan-card--ca{
    border: 2px solid #F7931A;
    min-width: 141px;
    width: 1.5rem;
    min-height: 5rem;
    border-radius: 4px;
    color:var(--black);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    padding: 1rem;
}
.plan-card--ca span{
    background-image: url('../assets/icons/orange-right-arrow.svg');
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
/*
FOOTER
*/
.footer{
    width: 100%;
    min-width: 320px;
    height: 15rem;
    display: flex;
    background-color: var(--bitcoin-orange);
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.footer li,
.footer a{
    list-style: none;
    text-decoration: none;
    font-size:1.4rem;
    line-height: 1.8rem;
    color: var(--just-white);
    font-weight: 500;
    text-align: left;
    margin-bottom: 1rem;
}
.footer-contact li:nth-last-child(1){
    margin-bottom: 0;   
}
.footer .footer-contact{
    display: flex;
    width: 50%;
    justify-content: center;
}
.footer .footer-logo{
    position: relative;
    display: flex;
    width: 50%;
    justify-content: center;
    padding-top: 3rem;

}
.footer-logo span{
    position: absolute;
    background-image: url('../assets/img/logo-footer.svg');
    width: 5.5rem;
    height: 3.5rem;
    background-repeat: no-repeat;
    bottom: 1.5rem;
}
.footer p{
    font-size: 0.8rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
