/*
1. Posicionamiento
*/
/*
2. Modelo de caja (Box model)
*/

/*
3. Tipografia
*/

/*
4. Visuales
*/

/*
5. Visuales
*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans',sans-serif;
}
:root{
    /*COLORES*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
/*
Header
*/
header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 32rem; /*la dimension mas pequena en celulares*/
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
                                /*2017.8deg representa los grados de como se va a dividir
                                del primer color al segundo color.
                                y el porcentaje que va a tener cada color
                                */
}

picture img{
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 5rem;
    align-self: center;
    text-align: center;
}
.header--title-container h1{
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p{
    margin-top: 2.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 115px);
    top: 27rem;
    display: block;
    margin-top: 3.5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);

}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 1rem;
    background-image:url('./assets/icons/down-arrow-Vector.svg');
    background-position: center;
}